.appcontainer{
  display:flex;
}
.content{
  width:100%;
}
.sidebar{
 min-height:675px;
 width:80px;
}
.post-card{
  margin:20px 50px;
  min-width: 30rem;
}
.hashtag{
  margin:0px 3px;
}
.reactions{
  width: 100%;
  margin:15px 0px 0px 0px;
}
.create-post{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
.like{
  margin-top: 5px;
  float:right
  
}
.welcome-msg{
  margin:45px;
}
.spinner{
  margin:10%
}